{% extends 'basictemp/basic.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
     <link rel="stylesheet" href="{% static 'css/profile.css/' %}">
   <style>
     body{
      overflow-x: hidden;
     }
  
   </style>  
</head>
<body>
  
    {%block content%}
    <div style="padding-left:18rem" class="col-sm-10">
     <!--this is alert messages tags--->
     <div class="content-section">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
          {{message}}
      </div>

     {% endfor %}
     {% endif %} 
  </div>
</div>
    <div id="profile" style="padding-left:16%;" class="row text-center">
    
    <div class="row m-2 gutters-sm">
        <div class="col-md-4 m-2">
          <h2 class="alert alert-primary">Profile</h2>
          <div class="card alert-light mt-4 p-4">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                
                {%if user.avatar %}
                <img src="{{user.avatar.url}}" aria-label="profile_pic" alt="pic" class="rounded-circle" max-width="150">
                {% else %}
                <img  src="{% static 'images/user.png' %}" alt="pic" class="rounded-circle" max-width="150">
                {% endif %}
              
                <div class="mt-3">
                  <h4>{{user.username}}</h4>
                  <p class="text-secondary mb-1">{{user.email}}</p>
        
                  {%if user.is_student %}
                  <p class="text-warning bg alert-warning text-muted font-size-sm">Student</p>
                  {% elif user.is_teacher  %}
                  <p class="text-warning bg alert-warning font-size-sm">Faculty</p>
                  {%else %}
                  <p class="text-warning bg alert-warning font-size-sm">Admin</p>
                  {% endif %}
                  <a id="btn" href="{%url 'editProfile' %}" class="btn btn-primary">Edit Profile</a>
                  
                  <!-- <button class="btn btn-outline-primary">Message</button> -->
                </div>
              </div>
            </div>
          </div>
          </div>
         
         {% if user.is_teacher or user.is_student %} 
          <div  class="col-md-7 m-2">
            <h2 class="alert alert-primary">Details</h2>
            <div class="card mb-3 alert-primary">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Name :</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                     {{user.first_name}} {{user.last_name}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Phone no. :</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user.phone_no}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Year :</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{user.Year}}
                  </div>
                </div>
                <hr>
               
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Department name :</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                   {{user.Branch}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Date Joined :</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                   {{user.date_joined.date}}
                  </div>
                </div>
               
              </div>
            </div>
          </div>
   
         {% elif user.is_superuser %}
         <div class="card m-4 alert-primary" style="width:18rem; height:18rem;">
          <div class="card-body">
            <h2 class="mb-0">Pending request</h2>
            <br><i class="fas fa-exclamation-circle fa-3x"></i><br>
            <h1 class="card-text"><b>{{ur}}</b></h1>
            <a href="{% url 'pendingreq' %}"  type="button" class="btn btn-primary">view</a>
          </div>
        </div>
        <div class="card m-4 alert-primary" style="width:17rem; height:18rem;">
          <div class="card-body">
            <h2 class="mb-0">Custom Admin panel</h2><br>
            <br><i class="fas fa-user-lock fa-6x"></i><br>
            <h1 class="card-text"><b></b></h1><br>
           
          </div>
        </div>
         <div class="container-fluid d-sm-flex">
         <div class="card m-4 alert-primary" style="width: 18rem; height:15rem;">
          <div class="card-body">
            <h4 class="mb-0">Total Students</h4>
            <br><i class="fas fa-user-graduate fa-3x"></i><br>
            <h2 class="card-text mt-2"><b>{{st}}</b></h2>
            <a href="{% url 'Students_list' %}"  type="button" class="btn btn-primary">view</a>

          </div>
        </div>
        
        <div class="card m-4 alert-primary" style="width: 18rem; height:15rem;">
          <div class="card-body">
            <h4 class="mb-0">Total Teachers</h4>
            <br><i class="fas fa-chalkboard-teacher fa-3x"></i><br>
            <h2 class="card-text mt-2"><b>{{tt}}</b></h2>
            <a href="{% url 'Teachers_list' %}"  type="button" class="btn btn-primary">view</a>
          </div>
        </div>
        
        <div class="card m-4 alert-primary" style="width: 18rem; height:15rem;">
          <div class="card-body">
            <h4 class="mb-0">Total Courses</h4>
            <br><i class="fas fa-university fa-3x"></i><br>
            <h2 class="card-text mt-2"><b> 2 </b></h2>
          </div>
        </div>
        </div>
         
{% endif %}

</div>
{%endblock%}
</body>
</html>