{% extends 'basictemp/basic.html '%}
{%load crispy_forms_tags %}
{% block content %}

<div style="padding-left:17rem" class="col-sm-12 mt-4">
<table class="table">
    <thead>
        <tr>
        <th>Sr_no.</th>
        <th>Student</th>
        <th>Teacher</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone_no</th>
        <th>Approve</th>
        <th>Date joined</th>
        <th>Last Login</th>
        </tr>
    </thead>
    <tbody>
        
        {% for u in ap %}
        
        <tr>
            <td>[{{forloop.counter}}]</td>
            <td>{{u.is_student}}</td>
            <td>{{u.is_teacher}}</td>
            <td>{{u.first_name}} {{u.last_name}}</td>
            <td>{{u.email}}</td>
            <td>{{u.phone_no}}</td>
            
            {% if u.is_approved == True %}
            <td>
              <button class="btn btn-warning btn-sm" >Verfified</button>
            </td>
            {% elif u.is_approved == False %}
            <td>
                <form action="{% url 'pendingreq' %}" method="POST">
                    {% csrf_token %}
                    {{form |crispy}}
                <button type="submit" value="Submit" class="btn btn-danger btn-sm">Approve</button>
            </form>
            </td>
            {% endif %}
           
            <td>{{u.date_joined.date}}</td>
            <td>{{u.last_login.time}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}

