{%extends '8thsem/subjects2.html'%}
{%load static %}
{%block assignment2%}

    <div class="container-fluid">
        <div style="padding-left:16%;" class="row">
          <div class="col-sm-12">
         <!--this is alert messages tags--->
            <div class="content-section">
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                  {{message}}
              </div>
             {% endfor %}
             {% endif %} 
          </div>
          <div style="display: flex;" class="alert alert-primary">
            <h2><i class="fas fa-book-open fa-lg mr-2"></i><b>Assignment</b>
            </h2>
            
            <nav style="padding-left:40%" aria-label="breadcrumb">
                <ol style="background-color:transparent"  class="breadcrumb ml-3 mb-0">
                  <li class="breadcrumb-item"><a href="">8th sem</a></li>
                  <li class="breadcrumb-item active" aria-current="page">assignment</li>
                </ol>
              </nav>
            
            </div>
          <!------ content to show ------->
          
            {%block content%}
            {%endblock%}
      
          </div>
         
        </div>
    </div>
  
{%endblock%}