{%extends '7thsem/subjects.html'%}
{%load static %}
{%block notes %}

  
    <div class="container-fluid ">
        <div style="padding-left:16%;"class="row">
          <div class="col-sm-12">
            <div style="display: flex;" class="alert alert-primary">
              <h2><i class="fas fa-file mr-2"></i><b>Notes</b></h2>
              <nav style="padding-left:60%" aria-label="breadcrumb">
                  <ol style="background-color:transparent"  class="breadcrumb ml-3 mb-0">
                    <li class="breadcrumb-item"><a href="">7th sem</a></li>
                    <li class="breadcrumb-item active" aria-current="page">notes</li>
                  </ol>
                </nav>   
          </div> 
             {%block content %}

             {%endblock%}
          </div>

{%endblock%}